---

---

<footer>2025 by <a href="https://elvismao.com">Elvis Mao</a> | <a href="https://github.com/Edit-Mr/Fastro" target="_blank">View on GitHub</a></footer>

<style is:global>
	footer {
		text-align: center;
		color: #aaa;
	}
</style>
