---
const { text, target } = Astro.props;
import { Plus } from "@lucide/astro";
---

<div class="detail-btn">
	<div class="text">{text}</div>
	<div class="plus"><Plus /></div>
</div>
<style>
	.detail-btn {
		display: flex;
		align-items: center;
		padding: 0.62rem 0.7rem 0.62rem 1.88rem;
		gap: 1.125rem;
		border-radius: 10rem;
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.11) inset;
		backdrop-filter: blur(3.5px);
		background-color: #e8e8ed;
		width: fit-content;
        cursor: pointer;
        margin: auto;
	}

	.plus {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #0171e3;
		color: #cce3f9;
		width: 2.25rem;
		height: 2.25rem;
		border-radius: 50%;
	}
</style>
