---
const { t } = Astro.props;
import Popup from "@components/Popup.astro";
---

<section id="example">
	<h2>這只是範例按鈕怎麼用</h2>
	<h2 class="aos">這裡有 class .aos 代表顯示時按鈕會出現</h2>
	<h2>把它放在最後面</h2>
	<h2>記得要寫 id</h2>
	<h2>不寫的話...我有做防呆通常能跑啦，但 PR 就不會了。</h2>
	<h2>可以去 Demo.astro 看看</h2>
	<Popup btnText="哈哈點我啊" title="About SITCON" background="https://farm3.staticflickr.com/2900/14412625957_6b97c8396a_k.jpg" id="example-popup">
		<div class="container">
			<h2>這是一個關於 SITCON 的彈出視窗範例。</h2>
			<p>
				SITCON 年會每年皆是許多志工奉獻時間與精神所舉辦，沒有大家的付出，就不可能會有如此內容豐富且高品質的年會， 希望大家在參加之餘，也不要忘記背後工作人員的付出。 若你對參與 SITCON
				年會的籌備有興趣，歡迎填寫跳坑表單或是關注 SITCON 的郵件論壇，明年的籌備開始時，你就會收到相關的資訊！
			</p>
			<p>
				SITCON 年會每年皆是許多志工奉獻時間與精神所舉辦，沒有大家的付出，就不可能會有如此內容豐富且高品質的年會， 希望大家在參加之餘，也不要忘記背後工作人員的付出。 若你對參與 SITCON
				年會的籌備有興趣，歡迎填寫跳坑表單或是關注 SITCON 的郵件論壇，明年的籌備開始時，你就會收到相關的資訊！
			</p>
			<p>
				SITCON 年會每年皆是許多志工奉獻時間與精神所舉辦，沒有大家的付出，就不可能會有如此內容豐富且高品質的年會， 希望大家在參加之餘，也不要忘記背後工作人員的付出。 若你對參與 SITCON
				年會的籌備有興趣，歡迎填寫跳坑表單或是關注 SITCON 的郵件論壇，明年的籌備開始時，你就會收到相關的資訊！
			</p>
		</div>
	</Popup>
</section>

<style>
	.container {
		padding: 5rem;
	}

	#example h2 {
		text-align: center;
		margin-bottom: 2rem;
	}

	#example {
		padding: 5rem;
	}
	p {
		margin-bottom: 3rem;
		line-height: 150%;
	}
</style>
